#contents {
	float: right;
}

#contents li {
	display: block;
	margin: 0;
}

.typelist > dt {
	color:#333;
	font-weight:bold;
	clear:left;
}
.typelist > dd {
	float:left;
}

.typelist > dd > dl {
	float:left;
	padding-left:16px;
	padding-bottom:8px;
	border-bottom:1px solid #EEE;
	margin-bottom:8px;
}

.typelist > dd > dl > dt {
	display:block;
	float:left;
	clear:left;
	width:128px;
	margin-right:16px;
	margin-top:2px;
	color:#999;
	font-weight:bold;
}

.typelist > dd > dl > dd {
	float:left;
	width:464px;
}
/*
.typelist > dd > dl > dd > dl > dt {
	color:#000;
	font-weight:normal;
	float:left;
	margin-right:16px;
}
*/
/* TODO :: Highlight this sublist "bullet-point" in a better way. 
.typelist > dd > dl > dd > dl > dt:before {content: '\00bb ';}
.typelist > dd > dl > dd > dl > dt:after {content: ':';}
.typelist > dd > dl > dd > dl > dd {color:#666;}
*/

.typelist > dd > dl > dd > dl > dt { font-weight:bold; margin-top:1em; }
.typelist > dd > dl > dd > dl > dd { margin-left:40px; }

.typelist dd.datatype, .monospace {
	font-family:Monaco, Courier, monospace;
	font-family:.9em;
}

h3 {
	clear: both;
	border-bottom:1px solid #000;
	padding:0 0 5px 0;
}
