.header, .footer {
	display:block;
	clear:left;
	background-color:#EEE;
	padding:16px;
}

.search-basic,
.search-advanced,
.search-output {
	display:block;
	float:left;
	width:304px;
	margin-right:16px;
}

.search-basic > h2,
.search-advanced > h2,
.search-output > h2 {
	border-bottom:1px solid #333;
	padding-left:8px;
}

.search-basic ul,
.search-advanced ul,
.search-output ul {
	list-style:none;
}

.search-basic input[type="text"],
.search-basic input[type="number"],
.search-advanced input[type="text"],
.search-advanced input[type="number"],
.search-output input[type="text"],
.search-output input[type="number"] {
	width:60%;
	display:block;
}

section[role="group"] {
	margin-top:16px;
	border-bottom:1px dotted #ccc;
}

section[role="group"]:last-child {
	border-bottom:none;
}
