
#search_form.nojs {
	display:none;
}

ul {
	list-style-type: none;
	margin; 0px;
	padding: 0px;
}
li {
	margin-bottom: 1em;
}

label {
	font-weight:bold;
	display:block;
}

p.help, ul.help li, label small {
	font-size: smaller;
	color: #999;
	margin: 0px;
	display:block;
}

h3 {
	margin-bottom:0;
}

input[type='datetime'] {
	width:14em;
}

/* desktop layout */
@media screen and (min-width:960px) {
	form li, h2, h3 {
		clear:left;
	}
	form li {
		margin-left:5%;
	}
	form li.min, form li.max {
		clear:left;
		float:left;
		width:40%;
	}
	form li.max {
		clear:none;
	}
}

/* format specific options */
.quakeml-only,
.geojson-only,
.kml-only {
	display:none;
}
.quakeml-format .quakeml-only,
.geojson-format .geojson-only,
.kml-format .kml-only {
	display:block;
}


/* toggle advanced section */
#advanced {
	cursor: pointer;
}
#advanced:after {
	content: "(show)";
	text-decoration: underline;
	color:#00c;
	font-size:smaller;
	margin-left:1em;
}
#advanced + ul {
	display:none;
}

#advanced.showAdvanced:after {
	content: "(hide)";
}
#advanced.showAdvanced + ul {
	display:block;
}
