#starttime,
#endtime {
	width:90%;
}

/* Custom layout for regtangular region inputs */
.region-square-details > li {
	list-style:none;
	display:block;
	text-align:center;
	width:50%;
}
.region-square-details > .region-square-details-north,
.region-square-details > .region-square-details-south {
	clear:left;
	margin:0 auto;
}
.region-square-details-north > input,
.region-square-details-south > input,
.region-square-details-west > input,
.region-square-details-east > input {
	margin:0 auto;
}
.region-square-details-east {
	margin:0;
	float:right;
}
.region-square-details-west {
	margin:0;
	float:left;
}

/* Checkbox/radio group list styles */
.magnitudetype-list > li,
.producttype-list > li {
	margin:6px 0;
}

.eventtype-list > li > ul > li {
	margin:6px 0 6px 12px;
}

.contributor-list,
.catalog-list {
	margin:0;
}
.contributor-list > li,
.catalog-list > li {
	margin:8px 0;
	padding:0;
}

/* Output styles */
.search-output .formats {
	margin-bottom:16px;
}
.output-descriptor {
	display:block;
	color:#666;
	font-size:.9em;
}

p.error {
	color:#C10C0C;
	font-weight:bold;
}

#search-url > a {
	display:block;
	overflow-x:auto;
	white-space:nowrap;
	margin-top:8px;
}

.draw {
	width: 100%;
	margin-top: 1em;
}