.todo {
	display:block;
	font-weight:bold;
	color:#C00;
}

code {
	font-family:Monaco, Courier, monospace;
	display:block;
	text-align:center;
	color:#333;
}
code em {
	font-style:italic;
	color:#000;
}
code em:before {content:'<';}
code em:after {content:'>';}

.input-parameters {
	list-style:none;
	margin:0;
	padding:0;
}

.input-parameters li {
	margin:0 0 4px 0;
	padding:0;
}

.input-parameters .eg {
	color:#666;
	font-size:.9em;
	font-style:italic;
}
.input-parameters .eg:before {
	content:'(eg. ';
	font-style:normal;
}
.input-parameters .eg:after {
	content:')';
	font-style:normal;
}

pre.detailResponse {
	background-color:#EEE;
	padding:8px;
	margin-top:16px;
	font-size:.9em;
	font-family:Monaco, Courier, monospace;
}


.meta { font-style:italic; }
.small {
	font-size:.8em;
	padding-top:3px;
}

.csv,
.html,
.atom,
.geojson,
.kml {
	background-color:#EEE;
	border-left:5px solid #ccc;
	padding:8px;
	text-align:left;
	white-space:pre;
	overflow-x:auto;
	font-size:.9em;
	margin:10px 0;
}
