/* Custom layout for regtangular region inputs */
.region-square-details {
  margin-left: -16px;

  > li {
    list-style:none;
    display:block;
    text-align:center;
    width:50%;
    padding-left: 16px;
  }
}

.region-square-details > .region-square-details-north,
.region-square-details > .region-square-details-south {
  clear:left;
  margin:0 auto;
  overflow: hidden; /* reset block formatting context */
}
.region-square-details-north > input,
.region-square-details-south > input,
.region-square-details-west > input,
.region-square-details-east > input {
  margin:0 auto;
}
.region-square-details-east {
  margin:0;
  float:right;
}
.region-square-details-west {
  margin:0;
  float:left;
}
