/* Gridded Layout Stuff */
.two-up,
.three-up {
  margin-left: -16px;
}

.two-up > li,
.three-up > li {
  float: left;
  padding-left:16px;
}

.two-up > li {
  width:50%;
}
.three-up > li {
  width:33%;
}

/* Clear fix */
.two-up:after,
.three-up:after {
  display:block;
  content:' ';
  clear:left;
}
