@import 'format';

.feed-format {
	h3 {
		clear:both;
		border-bottom:1px solid #000;
		padding:0 0 5px 0;
	}

	h4 {
		clear:both;
		font-size:15px;

		> small {
			display:block;
			font-size:.8em;
			font-weight:normal;
			color:gray;
		}
	}

	ul {
		overflow:auto;
	}
}

img.screenshot {
	border:1px solid #999;
	display:block;
	position:relative;
	margin:20px 0;
}

a:hover img.screenshot {
	border:1px solid #00f;
}

dl.kml-description dt {
	font-weight:bold;
	margin-bottom:5px;
}

dl.kml-description dd {
	margin-bottom:10px;
}
