.format {
	display:block;
	color:#000;
	text-decoration:none;
	margin:16px 0 0;
	padding-left:80px;
	background-position:0 0;
	background-repeat:no-repeat;
	min-height:64px;

	> h2 {
		background-color:transparent;
		background-image:none;
		margin:0;
		padding:0;
		color:#00C;
		text-decoration:none;

		> small {
			font-size:.7em;
			line-height:1;
			white-space:nowrap;
		}
	}

	&:hover > h2 {
		text-decoration:underline;
	}

	> p,
	> p:hover,
	> p:visited,
	> p:active,
	> p:focus {
		color:#666;
		font-size:.9em;
		padding:0;
		margin:0;
	}
}



.ted-icon {
	background-image:url("../images/ted.png");
}

.ens-icon {
	background-image:url("../images/ens-x2.png");
	background-size:64px;
}

.atom-icon {
	background-image:url("../images/atom.png");
}

.kml-icon {
	/*
		Icon Source: www.iconspedia.com
		Author: Tempest, http://tempest.deviantart.com/
		License: CC Attribution Non-Commercial No Derivatives
	*/
	background-image:url("../images/kml.png");
}

.csv-icon {
	/*
		Icon Source: www.iconspedia.com
		Author: Evegen, http://evgen.deviantart.com/
		License: Free
	*/
	background-image:url("../images/csv.png");
}

.quakeml-icon {
	background-image:url("../images/quakeml.png");
}

.geojson-icon {
	background-image:url("../images/geojson-x2.png");
	background-size:64px;
}

.api-icon {
	/*
		Icon Source: www.iconspedia.com
		Author: Asher, http://kyo-tux.deviantart.com/
		License: CC Attribution Non-Commercial Share Alike
	*/
	background-image:url("../images/api.png");
}

.announce-icon {
	background-image:url("../images/announce-x2.png");
	background-size:64px;
}

.question-icon {
	background-image:url("../images/questions-x2.png");
	background-size:64px;
}
