.format {
    display:block;
    color:#000;
    text-decoration:none;
    margin:16px 0 0;
    padding-left:80px;
    background-position:0 0;
    background-repeat:no-repeat;
}

#ted { background-image:url("../images/ted.png"); }
#ens { background-image:url("../images/ens.png"); }
#atom { background-image:url("../images/atom.png"); }
/*
    Icon Source: www.iconspedia.com
    Author: Tempest, http://tempest.deviantart.com/
    License: CC Attribution Non-Commercial No Derivatives
*/
#kml { background-image:url("../images/kml.png"); }
/*
    Icon Source: www.iconspedia.com
    Author: Evegen, http://evgen.deviantart.com/
    License: Free
*/
#csv { background-image:url("../images/csv.png"); }
/*
    Icon Source: www.iconspedia.com
    Author: Asher, http://kyo-tux.deviantart.com/
    License: CC Attribution Non-Commercial Share Alike
*/
#api { background-image:url("../images/api.png"); }

/*
    Needs an image created from this link
*/
#geo { background-image:url("https://raw.githubusercontent.com/alatas/GeoJSON4EntityFramework/master/GeoJSON4EntityFramework/geojson.png")}

#quakeml { background-image:url("../images/quakeml.png"); }

.format h2 {
    background-color:transparent;
    background-image:none;
    margin:0;
    padding:0;
    color:#00C;
    text-decoration:none;
}
.format:hover h2 {
    text-decoration:underline;
}
.format p, .format p:hover, .format p:visited,
.format p:active, .format p:focus {
    color:#666;
    font-size:.9em;
    padding:0;
    margin:0;
}
