@import 'layout';
@import 'n-up';   /* Provides .two-up and .three-up styles */
@import 'fdsn-search';
@import 'form';

@import 'ManagedModelView';
@import 'ToggleSection';
@import '/hazdev-webutils/src/mvc/ModalView.css';

.help {
	margin:0;
	color:#777;
	font-size:.8em;
}

.hidden {
	display:none;
}

.button-as-link {
	display:inline;
	border:none;
	background:none;
	text-decoration:none;
	margin:0;
	padding:0;
	font:normal 1em/1.5 'Arial';
	cursor:pointer;
	color:#00C;
	text-decoration:underline;
}

.search-error {
	display:none;
}
.show-errors .search-error {
	display:block;
}
.show-errors input.error {
	outline:2px solid #C10C0C;
}