h3 {
  margin:.5em 0;
}
h4, ul p {
  margin:0;
}
ul li {
  margin:0;
  list-style:none;
}

.feeds h4 {
  float:left;
  font-size:14px;
  font-weight:normal;
}
.feeds p {
  margin-bottom:1.5em
}
.feeds ul p {
  clear:both;
  margin:0 0 1.2em;
}
.feeds ul {
  margin-bottom:1.5em;
}

.feeds ul ul {
  float:left;
  margin:0 0 .5em .7em;
}

.feeds ul > li > ul > li {
  float:left;
  width:100%;
}

.feeds img {
	float:left;
	padding-right:10px;
}

a.button {
  font-family:Verdana, sans-serif;
  font-weight:bold;
  text-decoration:none;
  color:white;
  font-size:10px;
  background-color:#F60;
  border-left:1px solid #FC9;
  border-top:1px solid #FC9;
  border-right:1px solid #930;
  border-bottom:1px solid #930;
  padding:0 3px 0 3px;
  margin:0 2px;
}
a.button:hover, .rssinfo a.button:hover {
  color:#000;
}

.google a {
  background-repeat:no-repeat;
  padding-left:20px;
  background-image:url(/images/kmlfeed-sml.gif);
}

.twitter-widget {
  padding-bottom:20px;
}


.arrange {
	float:right;
}

.arrange li {
	float:left;
	display:inline;
}

.google li {
	margin:0 0 0 5px;
}
